<div
  [ngClass]="{'label': true, 'label-valid': !field.formControl.touched || field.formControl.valid, 'mat-error': field.formControl.touched && !field.formControl.valid, 'mt-3' : true}">
  {{props.label}}
  <ng-container *ngIf="props.required">*</ng-container>
</div>

<formly-material-file-input (selectFiles)="onSelectFiles($event)"></formly-material-file-input>

<div *ngIf="!field.formControl.touched || field.formControl.valid" class="label label-valid">{{field.props.description}}
</div>

<ng-container *ngIf="field.formControl.touched">
  <mat-error class="mat-error" role="alert">
    <!-- <formly-validation-message [field]="field"></formly-validation-message> -->
    <app-custom-error-message [control]="formControl"></app-custom-error-message>

  </mat-error>
</ng-container>

<mat-list class="mb-3">
  <ng-container *ngFor="let subfield of field.fieldGroup; index as i">
    <formly-material-file-upload 
    [passedForm]="form" 
    [field]="subfield" 
    [mainField]="field" 
    [uploadUrl]="field?.props?.['uploadUrl']"
    [paramName]="field?.props?.['paramName']" 
    [index]="i" 
    (deleteFile)="onDeleteFile(i)"></formly-material-file-upload>
  </ng-container>
</mat-list>